<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <img src="/static/header-image.png" alt="Header Image">
            <div class="header-text">
                <h1>Статистика за определенный промежуток времени</h1>
            </div>
        </div>
    </div>
</header>

    <div class="container">
        <h3 class="mt-4">Поиск данных по дате:</h3>
        <form method="POST" action="/search_range">
            <div class="form-group">
                <label for="date1">Введите начальную дату:</label>
                <input type="date" class="form-control" id="date1" name="date1" required onchange="validateDate(this)">
                <small id="dateHelp1" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="date2">Введите конечную дату:</label>
                <input type="date" class="form-control" id="date2" name="date2" onchange="validateDate(this)">
                <small id="dateHelp2" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary">Вывести</button>
        </form>
        <form method="POST" action="/reset" class="mt-2">
            <button type="submit" class="btn btn-secondary">Сбросить поиск</button>
        </form>

        <div class="accordion mt-4" id="statisticsAccordion">
            {% if data %}
                {% if date1 and date2 %}
                    <div class="card">
                        <div class="card-header" id="headingRange">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseRange" aria-expanded="true" aria-controls="collapseRange">
                                    Статистика с {{ date1.strftime('%d.%m.%Y') }} по {{ date2.strftime('%d.%m.%Y') }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseRange" class="collapse show" aria-labelledby="headingRange" data-parent="#statisticsAccordion">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Переменная</th>
                                            <th>Минимум</th>
                                            <th>Максимум</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                            <tr>
                                                <td>{{ row['Variable'] }}</td>
                                                <td>{{ row['min_value'] }}</td>
                                                <td>{{ row['max_value'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% elif date1 %}
                    <div class="card">
                        <div class="card-header" id="headingDate">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDate" aria-expanded="true" aria-controls="collapseDate">
                                    Статистика за {{ date1.strftime('%d.%m.%Y') }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseDate" class="collapse show" aria-labelledby="headingDate" data-parent="#statisticsAccordion">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Переменная</th>
                                            <th>Минимум</th>
                                            <th>Максимум</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                            <tr>
                                                <td>{{ row['Variable'] }}</td>
                                                <td>{{ row['min_value'] }}</td>
                                                <td>{{ row['max_value'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for date, rows in data | groupby('Sample_Date') %}
                        <div class="card">
                            <div class="card-header" id="heading{{ date.strftime('%d%m%Y') }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ date.strftime('%d%m%Y') }}" aria-expanded="false" aria-controls="collapse{{ date.strftime('%d%m%Y') }}">
                                        Статистика за {{ date.strftime('%d.%m.%Y') }}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse{{ date.strftime('%d%m%Y') }}" class="collapse" aria-labelledby="heading{{ date.strftime('%d%m%Y') }}" data-parent="#statisticsAccordion">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Переменная</th>
                                                <th>Минимум</th>
                                                <th>Максимум</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in rows %}
                                                <tr>
                                                    <td>{{ row['Variable'] }}</td>
                                                    <td>{{ row['min_value'] }}</td>
                                                    <td>{{ row['max_value'] }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Данные не найдены.
                </div>
            {% endif %}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: left;">
                    <p class="mb-0" style="white-space: nowrap;">&copy;Министерство внутренних дел Российской Федерации, 2024 г.</p>
                    <p class="mb-0" style="white-space: nowrap;">Обратная связь с руководством</p>
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <p class="mb-0" style="white-space: nowrap;">Круглосуточная служба поддержки</p>
                    <p class="mb-0" style="white-space: nowrap;">8 (800) 2000-462, 8 (495) 667-67-17 | helpdesk@mvd.ru</p>
                </div>
            </div>
        </div>
    </footer>



    <script>
    function validateDate(input) {
        var date = new Date(input.value);
        if (date.getFullYear() < 1950 || date.getFullYear() > 2050) {
            input.setCustomValidity('Пожалуйста, введите дату в диапазоне от 1950 до 2050 года.');
        } else {
            input.setCustomValidity('');
        }
    }
    </script>
</body>
</html>
