<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Statistics</h1>
        <h3>Поиск данных по дате:</h3>
        <form method="POST" action="/search">
            <div class="form-group">
                <label for="date">Введите дату:</label>
                <input type="date" class="form-control" id="date" name="date" required onchange="validateDate(this)">
                <small id="dateHelp" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary">Вывести</button>
        </form>
        <h3>Поиск данных по периоду:</h3>
        <form method="POST" action="/search_range">
            <div class="form-group">
                <label for="date1">Введите начальную дату:</label>
                <input type="date" class="form-control" id="date1" name="date1" required onchange="validateDate(this)">
                <small id="dateHelp1" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="date2">Введите конечную дату:</label>
                <input type="date" class="form-control" id="date2" name="date2" required onchange="validateDate(this)">
                <small id="dateHelp2" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary">Вывести</button>
        </form>
        <form method="POST" action="/reset">
            <button type="submit" class="btn btn-secondary">Сбросить поиск</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
            {% if data %}
                {% if date1 and date2 %}
                    <tr class="table-secondary">
                        <td colspan="3">Статистика с {{ date1.strftime('%d.%m.%Y') }} по {{ date2.strftime('%d.%m.%Y') }}</td>
                    </tr>
                    {% for row in data %}
                        <tr>
                            <td>{{ row['Variable'] }}</td>
                            <td>{{ row['min_value'] }}</td>
                            <td>{{ row['max_value'] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for date, rows in data | groupby('Sample_Date') %}
                        <tr class="table-secondary">
                            <td colspan="3">Статистика за {{ date.strftime('%d.%m.%Y') }}</td>
                        </tr>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row['Variable'] }}</td>
                                <td>{{ row['min_value'] }}</td>
                                <td>{{ row['max_value'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="3">No data found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <script>
    function validateDate(input) {
        var date = new Date(input.value);
        if (date.getFullYear() < 1950 || date.getFullYear() > 2050) {
            input.setCustomValidity('Пожалуйста, введите дату в диапазоне от 1950 до 2050 года.');
        } else {
            input.setCustomValidity('');
        }
    }
    </script>
</body>
</html>
