<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Statistics</h1>
        <form method="POST" action="/search">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <button type="submit" class="btn btn-primary">Вывести</button>
        </form>
        <form method="POST" action="/search_range">
            <div class="form-group">
                <label for="date1">Date from:</label>
                <input type="date" class="form-control" id="date1" name="date1" required>
            </div>
            <div class="form-group">
                <label for="date2">Date to:</label>
                <input type="date" class="form-control" id="date2" name="date2" required>
            </div>
            <button type="submit" class="btn btn-primary">Вывести</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
            {% if data %}
                {% if date1 and date2 %}
                    <tr class="table-secondary">
                        <td colspan="3">Статистика с {{ date1.strftime('%d.%m.%Y') }} по {{ date2.strftime('%d.%m.%Y') }}</td>
                    </tr>
                    {% for row in data %}
                        <tr>
                            <td>{{ row['Variable'] }}</td>
                            <td>{{ row['min'] }}</td>
                            <td>{{ row['max'] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for date, rows in data | groupby('Date') %}
                        <tr class="table-secondary">
                            <td colspan="3">Статистика за {{ date.strftime('%d.%m.%Y') }}</td>
                        </tr>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row['Variable'] }}</td>
                                <td>{{ row['min'] }}</td>
                                <td>{{ row['max'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="3">No data found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>